body {
	background-color: #400000;
	font: 80% Arial, geneva, helvetica, sans-serif;
}
#container {
	width: 747px;
	margin-right: auto;
	margin-left: auto;
	background: #8DADAF url(../images/bkgd.gif) ;
}
#header {
	background: url(../images/tagline.gif) no-repeat right top;
	height: 135px;
}
#header img {
	float: left;
	padding: 20px;
}
#header ul {
	list-style: none;
	margin: 0px;
	padding: 113px 0px 0px 317px;
}
#header li {
	float: left;
	padding-right: 1em;
}
#header a:link, #header a:visited {
	color: #FFFFFF;
	text-decoration: none;
	text-transform: uppercase;
	font: 0.95em Tahoma, Arial, geneva, sans-serif;
}

#container-left{
    width: 250px; 
    margin-left: 30px;
    text-align: center;
    }

#content {
	float: right;
	width: 410px;
	padding: 30px 40px;

}
#left {
	width: 290px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left:30px;
}
#left ul {
	list-style: none;
}
#left ul a:link, #left ul a:visited {
	color: #2b666a;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

#footer {
	background: url(../images/footer.gif) no-repeat;
	text-align: center;
	color: #FFFFFF;
	clear: both;
	font-size: 0.9em;
	height: 23px;
	width: 600px;
	padding: 5px;
}
